<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">To Do List</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 text-right mb-3">
                            <b-button v-b-modal.modal size="sm" variant="primary"><i class="material-icons">add</i></b-button>
                        </div>
                    </div>
                    <div class="col-sm-12" v-for="l in lists" :key="l.id">
                        <todoform @deleted="deleteTask()" :lists="l"></todoform>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL-->
    <b-modal hide-footer id="modal" title="Add new task">
        <b-form-input v-model="list.new" placeholder="Type something..." class="mb-2"></b-form-input>
        <b-button size="sm" class="float-right" variant="primary" @click="addTask()">Save</b-button>
    </b-modal>
</div>
</template>

<script>
import todoform from './ToDoForm'
import axios from 'axios'
export default {
    data: function () {
        return {
            list: {
                new: '',
            },
            lists: []
        }
    },
    components: {
        'todoform': todoform,
    },
    methods: {
        deleteTask(msg) {
            this.$bvToast.toast("Task Deleted", {
                title: 'Deleted',
                variant: 'success',
                solid: true
            })
            this.getTasks();
        },
        getTasks() {
            axios
                .get(
                    "/tasks", {}, {}
                )
                .then((response) => {
                    this.lists = response.data;
                    console.log(response.data);
                })
                .catch((error) => {});
        },
        closeModal() {
            this.$bvModal.hide('modal');
            this.list.new = "";
        },
        addTask() {
            axios
                .post(
                    "/tasks", {
                        task: this.list.new,
                    }, {}
                )
                .then((response) => {
                    this.lists.push({
                        id: response.data.data,
                        task: this.list.new,
                        completed: false,
                    });
                    this.closeModal();
                })
                .catch((error) => {});

        },
    },
    mounted() {
        this.getTasks();
    }
}
</script>
