<template>
<div class="row">
    <div class="col-1 " style="margin-top: 3px;">
        <b-form-checkbox v-model="list.completed">
        </b-form-checkbox>
    </div>
    <div class="col" style="font-size: 20px">
        <span :class="[list.completed ? 'checked':'']">{{list.task}}</span>
    </div>
    <div class="col-2">
        <div style="cursor: pointer"><i class="material-icons" style="font-size:20px" @click="deleteTask()">delete</i><i @click="openModal" class="material-icons" v-if="!list.completed">edit</i></div>
    </div>
    {{saveProps}}
    <!--MODAL-->
    <b-modal hide-footer :id="'editmodal'+list.id" title="Add new task">
        <b-form-input v-model="list.task" class="mb-2"></b-form-input>
        <b-button size="sm" class="float-right" variant="primary" @click="update()">Update</b-button>
    </b-modal>
    {{changeStatus}}
</div>
</template>

<script>
import axios from 'axios'
export default {
    props: ['lists'],
    data: function () {
        return {
            list: [],
        }
    },
    computed: {
        changeStatus() {
            let status = this.list.completed;
            axios
                .post(
                    "/tasks/status", {
                        status: status,
                        id: this.list.id,
                    }, {}
                )
                .then((response) => {
                    console.log(respone.data);
                })
                .catch((error) => {});
        },
        saveProps() {
            if (this.lists !== undefined) {
                this.list = this.lists;
                if (this.list.completed == 1) this.list.completed = true;
            }
        },

    },
    methods: {
        openModal() {
            this.$bvModal.show('editmodal' + this.list.id);
        },
        closeModal() {
            this.$bvModal.hide('editmodal' + this.list.id);
        },
        update() {
            axios
                .put(
                    "/tasks/" + this.list.id, {
                        task: this.list.task,
                    }, {}
                )
                .then((response) => {
                    console.log(respone.data);

                })
                .catch((error) => {});
            this.closeModal();
        },
        deleteTask() {
            let self = this;
            axios
                .delete(
                    "/tasks/" + this.list.id, {
                        task: this.list.task,
                    }, {}
                )
                .then((response) => {

                    this.$emit('deleted', response.data.message);
                })
                .catch((error) => {});
            this.closeModal();

        }
    },
    mounted() {

    }
}
</script>

<style lang="css">
.checked {
    text-decoration: line-through;
    color: darkgrey;
}
</style>
